.info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__picture {
    flex-shrink: 0;
    transform: scale(-1, 1) rotate(-20deg);
    width: 619px;

    img {
      display: block;
      width: 100%;
    }
  }
}
