.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 312px;
  padding: 18px;
  font-size: 21px;
  font-weight: 600;
  line-height: 23.1px;
  text-align: left;
  border-radius: 5px;
  background-color: $accent;
  border: none;
  color: $light;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }

  &--centered {
    width: 350px;
    margin: 0 auto;
  }
}
