// Colors
$black: #000000;
$dark: #151826;
$dark-accent: #343637;
$light: #FFFFFF;
$accent: #EF4918;
$orange: #FF7716;
$blue: #2AADE5;
$grey: #F7F9FA;
$grey-dark: #6c7073;
$violet: #4562B7;

// Fonts
$font-main: 'Open Sans', sans-serif;

// media
$mobile: 1200;
