.section {
  &--intro {
    background: url("../assets/images/intro-bg.png"), linear-gradient(180deg, #2B3153 0%, #1B2035 100%);
    min-height: 492px;
    background-repeat: no-repeat;
    background-position: bottom left 16%;
    overflow: hidden;

    @include r($mobile) {
      background: linear-gradient(180deg, #2B3153 0%, #1B2035 100%);
    }
  }

  &--light {
    background-color: $light;
  }
}
