.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__picture {
    position: relative;
    transform: rotate(-20deg);
    img {
      position: relative;
      z-index: 1;
    }
    &::before {
      content: '';
      position: absolute;
      top: 30px;
      left: 50px;
      width: 325px;
      height: 344px;
      background-color: $black;
      transform: rotate(20deg);
      opacity: 0.8;
      filter: blur(90px);
      z-index: 0;
    }
  }

  &__logo {
    margin-bottom: 14px;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: uppercase;
    color: $light;
  }
}
