.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 67px;
  background-color: $dark-accent;

  &__text {
    font-size: 12px;
    color: $grey-dark;
    text-align: center;

    a {
      color: $light;
    }
  }
}
