<!DOCTYPE html>
<html lang="ru">

<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
  <section class="section section--intro pt-65 pb-65">
    <div class="container">
      <div class="intro">
        <picture class="intro__picture">
          <img src="./assets/images/drone.png" alt="">
        </picture>
        <div class="intro__info">
          <img class="intro__logo" src="./assets/images/logo.svg" alt="">
          <h2 class="intro__title">полёт твоей фантазии</h2>
          <div class="benefice">
            <div class="benefice__item">
              <img src="./assets/images/icon-wifi.svg" alt="">
              <p class="benefice__text">
                Модуль Wi-Fi
                <span>видеокамеры</span>
              </p>
            </div>
            <div class="benefice__item">
              <img src="./assets/images/icon-wifi.svg" alt="">
              <p class="benefice__text">
                Перезаряжемая
                <span>батарея</span>
              </p>
            </div>
            <div class="benefice__item">
              <img src="./assets/images/icon-wifi.svg" alt="">
              <p class="benefice__text">
                Приложение
                <span>для управления</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--light pt-100 pb-100">
    <div class="container">
      <div class="about">
        <div class="head mb-60">
          <h1 class="main-title">LBS-TT</h1>
          <p class="subtitle">
            LBS-TT - современный образовательный дрон, разработанный специально для <span>STEAM-обучения</span> и <span>проведения
            соревнований</span>. Рекомендации для педагогов и обучающие материалы позволяют быстро включить комплект
            дронов в
            образовательный процесс. Возможность программирования на Scratch, Python и С открывает широкие возможности
            по использованию дронов учениками разными возрастов.
          </p>
          <button class="button">Узнать подробнее</button>
        </div>
        <div class="gallery">
          <picture class="gallery__picture">
            <img src="./assets/images/drone-1.jpg" alt="">
          </picture>
          <picture class="gallery__picture">
            <img src="./assets/images/drone-2.jpg" alt="">
          </picture>
          <picture class="gallery__picture">
            <img src="./assets/images/drone-3.jpg" alt="">
          </picture>
        </div>
      </div>
    </div>
  </section>
  <section class="section pt-100 pb-100">
    <div class="container">
      <div class="info">
        <div class="head head--col">
          <h1 class="main-title">LBS-TT</h1>
          <p class="subtitle">
            LBS-TT - современный образовательный дрон, разработанный специально для STEAM-обучения и проведения
            соревнований.<br /><br /> Рекомендации для педагогов и обучающие материалы позволяют быстро включить
            комплект дронов в образовательный процесс.
            Возможно программирование на Scratch, Python и С
          </p>
          <button class="button">Узнать подробнее</button>
        </div>
        <picture class="info__picture">
          <img src="./assets/images/drone.png" alt="">
        </picture>
      </div>
    </div>
  </section>
  <section class="section section--light pt-30 pb-100">
    <div class="container">
      <div class="features">
        <div class="features__line">
          <article class="article-feature">
            <picture class="article-feature__picture">
              <img src="./assets/images/icon-drone.svg" alt="">
            </picture>
            <h2 class="article-feature__title">Камера QR кодов</h2>
            <p class="article-feature__text">для навигации
              и программирования</p>
          </article>
          <article class="article-feature">
            <picture class="article-feature__picture">
              <img src="./assets/images/icon-drone.svg" alt="">
            </picture>
            <h2 class="article-feature__title">Программирование
              роя дронов</h2>
          </article>
          <article class="article-feature">
            <picture class="article-feature__picture">
              <img src="./assets/images/icon-drone.svg" alt="">
            </picture>
            <h2 class="article-feature__title">Обход
              препятствий</h2>
          </article>
        </div>
        <div class="features__line">
          <article class="article-feature">
            <picture class="article-feature__picture">
              <img src="./assets/images/icon-drone.svg" alt="">
            </picture>
            <h2 class="article-feature__title">Повышенная стабильность</h2>
          </article>
          <article class="article-feature">
            <picture class="article-feature__picture">
              <img src="./assets/images/icon-drone.svg" alt="">
            </picture>
            <h2 class="article-feature__title">Большое количество</h2>
            <p class="article-feature__text">подключаемых датчиков</p>
          </article>
          <article class="article-feature">
            <picture class="article-feature__picture">
              <img src="./assets/images/icon-drone.svg" alt="">
            </picture>
            <h2 class="article-feature__title">Управление
              жестами</h2>
          </article>
          <article class="article-feature">
            <picture class="article-feature__picture">
              <img src="./assets/images/icon-drone.svg" alt="">
            </picture>
            <h2 class="article-feature__title">Автономное исследование</h2>
          </article>
        </div>
      </div>
      <h2 class="title mb-30">КОМПЛЕКТЫ ДЛЯ КЛАССОВ</h2>
      <div class="text">
        <p>
          Для оборудования классов по робототехнике, программированию или беспилотным авиационным системам созданы
          комплекты дронов LBS-TT на 5 и 10 учеников.<br /><br />
          
          Каждый комплект предоставляет возможность управления дронами по одиночке или организованной группой - роем. В
          комплектах есть всё необходимое для проведения обучения и получения навыков программирования и управления
          БПЛА.
        </p>
      </div>
    </div>
  </section>
  <section class="section pt-90 pb-180">
    <div class="container">
      <div class="learn-more">
        <h2 class="title mb-20">Узнайте больше</h2>
        <article class="article-info">
          <picture class="article-info__picture">
            <img src="./assets/images/pic-1.jpg" alt="">
          </picture>
          <div class="article-info__info">
            <h2 class="article-info__title">ТЕХНОЛОГИЧНОСТЬ</h2>
            <p class="article-info__text">
              Дрон способен двигаться по QR-точкам, а также самостоятельно прокладывать курс, обходя препятствия. Кроме
              этого, доступно управлениями жестами. Всё это дает безграничные возможности для STEAM-обучения.
            </p>
          </div>
        </article>
        <article class="article-info article-info--inverted">
          <picture class="article-info__picture">
            <img src="./assets/images/pic-2.jpg" alt="">
          </picture>
          <div class="article-info__info">
            <h2 class="article-info__title">УЧЕБНЫЕ МАТЕРИАЛЫ</h2>
            <p class="article-info__text">
              16 уроков разработаны специально для того, чтобы максимально использовать все возможности дрона,
              погрузиться в изучении программирования и искусственного интеллекта, выступать на соревнованиях и
              способствовать творческому простору.
            </p>
          </div>
        </article>
        <article class="article-info">
          <picture class="article-info__picture">
            <img src="./assets/images/pic-3.jpg" alt="">
          </picture>
          <div class="article-info__info">
            <h2 class="article-info__title">стая</h2>
            <p class="article-info__text">
              Запрограммируйте до 20 устройств в организованную группу для выполнения полётных заданий и акробатических
              фигур.
            </p>
          </div>
        </article>
        <article class="article-info article-info--inverted">
          <picture class="article-info__picture">
            <img src="./assets/images/pic-4.jpg" alt="">
          </picture>
          <div class="article-info__info">
            <h2 class="article-info__title">ИСКУССТВЕННЫЙ ИНТЕЛЛЕКТ</h2>
            <p class="article-info__text">
              Датчик AI и набор средств разработки позволяет ученикам погрузиться в разработку
              и программирование искусственного интеллекта.
              Распознавание, следование, компьютерное зрение
              и множество других инновационных технологий ждут изучения
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>

<%= htmlWebpackPlugin.options.temp %>
</body>
</html>
